/* ==================================================== root variable ==================================================== */
:root {
    --gold: #b9b0a6;
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'FRISTARegular';
    src: url('../font/frista/FRISTARegular.woff2') format('woff2'),
        url('../font/frista/FRISTARegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ================================================== end root variable ================================================== */


/* ================================================== all body ================================================== */
body {
    font-size: 1.2rem;
    /* font-family: -apple-system, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: "Edu AU VIC WA NT Hand", cursive; */
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    min-height: 2000px;
    scroll-behavior: smooth;
    /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}

/* ================================================== end all body ================================================== */

.signature {
    margin-top: 100px;
    text-align: end;
    color: #0a0a0a;
    font-family: 'FristaRegular';
}

.title-text-section {
    font-family: 'FRISTARegular';
}

.opening-font {
    font-family: "Playfair Display", serif;
}


.overlay-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 5s ease;
    z-index: 1;
    background-color: var(--bg);
    /* Smooth opacity transition */
}

.overlay-section.hidden {
    opacity: 0;
    /* Hidden by default */
    pointer-events: none;
    /* Disable pointer events */
}

@keyframes textAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-text {
    animation: textAnimation 3s infinite;
    /* Example animation duration */
}


/* ================================================== opening section ================================================== */
.opening {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Smooth opacity transition */
}

.hiddenOppening {
    opacity: 0;
    display: none;
    /* Hidden by default */
    pointer-events: none;
    /* Disable pointer events */
}

/* 
.opening {
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/hero-bg-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 10s ease;
    display: flex;
   // Smooth transition for opacity
   // z-index: -1;
} */


.opening.d-none {
    opacity: 0;
    /* transition: opacity 0.5s ease; */
}

.opening.fade-out {
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-22 18:57:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        display: none !important;
        z-index: -1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        display: none !important;
        z-index: -1;

    }
}

/* ================================================== end opening section ================================================== */


/* ================================================== hero section ================================================== */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: grayscale();
}

.hero {
    position: relative;
    min-height: 100vh;
    /* background-color: var(--bg); */

}

.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
}

.hero h4 {
    font-size: 1.6rem;
}

.hero h1 {
    /* font-family: "Playwrite DK Uloopet", cursive;
    font-size: 2rem; */
    /* font-family: "Sacramento", cursive; */
    font-size: 4rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    background-color: var(--gold);
    color: black;
}

.hero a:hover {
    background-color: black;
    color: var(--gold);
}

/* background hero */
#videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    /* Ensure the video stays behind content */
}

.header-row-text {
    margin-bottom: 250px;
}

.guestPerson {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ================================================== end hero section ================================================== */


/* ================================================== navbar component ================================================== */


/* ================================================== end hero section ================================================== */


/* ================================================== home section ================================================== */
.home::before {
    content: '';
    background-image: url(../img/surah.jpeg);
    background-size: cover;
    background-position: 51% 50%;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.surah-container:nth-child(n),
.signature:nth-child(n) {
    text-shadow: var(--shadow);
    color: white;
}

.signature {
    color: white;

}

.home {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 60%);
    z-index: -1;
    /* Adjust as necessary */
}

/* multiple usage */
.home h2,
.info h2,
.story h2,
.gallery h2,
/* .rsvp h2, */
.gifts h2 {
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

/* end multiple usage */

.home h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: white;
}

.home .couple {
    margin-top: 100px;
}

.home .couple .h3 {
    font-family: 'Sacramento';
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

/* ================================================== end home section ================================================== */

/* ================================================== bride section ================================================== */
.bride::before {
    content: '';
    background-image: url(../img/bride.jpeg);
    background-size: cover;
    background-position: center;
    /* filter: grayscale(); */
    filter: opacity(0.8);
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* animation: kenburns 20s ease infinite alternate; */
    overflow: hidden;
}

@keyframes kenburns {
    0% {
        transform: scale(1);
        background-position: center;
        /* Start from center */
    }

    25% {
        transform: scale(1.05);
        /* Slightly zoom in */
        background-position: 10% 90%;
        /* Move towards bottom right */
    }

    50% {
        transform: scale(1.1);
        /* Moderate zoom in */
        background-position: 20% 80%;
        /* Move further towards bottom right */
    }

    75% {
        transform: scale(1.15);
        /* Further zoom in */
        background-position: 30% 70%;
        /* Move towards top right */
    }

    100% {
        transform: scale(1.2);
        /* Maximum zoom in */
        background-position: 40% 60%;
        /* Move towards top right */
    }
}

.bride {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: end;
    overflow: hidden;
}

.bride .bride-title {
    /* outline: auto; */
    outline-color: white;
}

.bride::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: -1;
}

.bride .instagram {
    background-color: #b9b0a6;
    color: white;
}

/* ================================================== end bride section ================================================== */



/* ================================================== groom section ================================================== */
.groom::before {
    content: '';
    background-image: url(../img/groom.jpeg);
    background-size: cover;
    background-position: center;
    /* filter: grayscale(); */
    filter: opacity(0.8);
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* animation: kenburns 20s ease infinite alternate; */
    overflow: hidden;
}


.groom {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: end;
    overflow: hidden;
}

.groom .groom-title {
    /* outline: auto; */
    outline-color: white;
}

.groom::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%);
    z-index: -1;
}

.groom .instagram {
    background-color: #b9b0a6;
    color: white;
}

/* ================================================== end groom section ================================================== */


/* ================================================== countdown-section section ================================================== */
.countdown-section::before {
    content: '';
    background-image: url(../img/countdown.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* animation: kenburns 20s ease infinite alternate; */
    overflow: hidden;
}


.countdown-section {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.countdown-section .countdown-section-title {
    /* outline: auto; */
    outline-color: white;
}

.countdown-section::after {
    content: '';
    position: absolute;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%); */
    /* z-index: -1; */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    /* Adjust size of gradient */
    height: 200%;
    /* Adjust size of gradient */
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
    z-index: -1;
    /* Display above ::before pseudo-element */
}

.countdown-section .instagram {
    background-color: var(--gold);
    color: white;
}

/* ================================================== end countdown-section section ================================================== */


/* ================================================== date-section section ================================================== */
.date-section::before {
    content: '';
    background-image: url(../img/date.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* animation: kenburns 20s ease infinite alternate; */
    overflow: hidden;
}


.date-section {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.date-section::after {
    content: '';
    position: absolute;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%); */
    /* z-index: -1; */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    /* Adjust size of gradient */
    height: 200%;
    /* Adjust size of gradient */
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
    z-index: -1;
    /* Display above ::before pseudo-element */
}

.date-section .date-section-title {
    /* outline: auto; */
    outline-color: white;
    margin-bottom: 7rem;
}

.date-section .date-section-info {
    /* outline: auto; */
    margin-bottom: 6rem;
}

.date-section .date-section-info h1 {
    text-decoration: underline;
}

.date-section .date-section-save {
    margin-top: 2rem;
    margin-bottom: 9rem;
}

.date-section .date-save-link {

    background-color: #b9b0a6;
    color: black;
}



/* ================================================== end date-section section ================================================== */


/* ================================================== rsvp section ================================================== */
.rsvp::before {
    content: '';
    background-image: url(../img/kehadiran.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* animation: kenburns 20s ease infinite alternate; */
    overflow: hidden;
}


.rsvp {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.rsvp::after {
    content: '';
    position: absolute;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 60%); */
    /* z-index: -1; */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    /* Adjust size of gradient */
    height: 200%;
    /* Adjust size of gradient */
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
    z-index: -1;
    /* Display above ::before pseudo-element */
}

.rsvp h2 {
    font-size: 3.5rem;
    color: white;
    /* font-family: 'Sacramento'; */
}

.rsvp p {
    color: white;
}

.rsvp form label {
    color: white;
}

.rsvp button {
    background-color: var(--gold);
    color: black;
    border: 1px solid var(--gold);
}

.rsvp button:hover {
    background-color: black;
    color: var(--gold);
    border: 1px solid black;
}

.rsvp .comments {
    margin: 5px 10px;
    height: 50rem;
    /* Fixed height for the comments div */
    overflow-y: auto;
    /* Enable vertical scroll if content exceeds height */
    border: 1px solid #ccc;
    /* Optional: Add border for visual clarity */
    padding: 10px;
    /* Optional: Add padding for spacing */
    background-color: rgba(255, 255, 255, 0.5);
}

/* ================================================== end rsvp section ================================================== */


/* ================================================== comment section ================================================== */

.comment-section::before {
    content: '';
    background-image: url(../img/ucapan.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.comment-section {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.comment-section::after {
    content: '';
    position: absolute;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
    z-index: -1;
}

.comment-section h2 {
    font-size: 3.5rem;
    color: white;
    /* font-family: 'Sacramento'; */
}

.comment-section p {
    color: white;
}

.comment-section .comments-seperate {
    /* background-color: rgba(255, 255, 255, 0.5); */
    overflow: hidden;
    margin: 5px 10px;
    height: 50rem;
    /* Fixed height for the comments div */
    overflow-y: auto;
    /* Enable vertical scroll if content exceeds height */
    /* border: 1px solid #ccc; */
    /* Optional: Add border for visual clarity */
    padding: 10px;
}

.comment-section button {
    background-color: var(--gold);
    color: black;
    border: 1px solid var(--gold);
}

.comment-section button:hover {
    background-color: black;
    color: var(--gold);
    border: 1px solid black;
}

.comment-row {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 1rem
}

/* ================================================== end rsvp section ================================================== */


/* ================================================== gallery section ================================================== */

.gallery-section::before {
    content: '';
    background-image: url(../img/gallery.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.gallery-section {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery-section::after {
    content: '';
    position: absolute;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
    z-index: -1;
}

.gallery-section h2 {
    font-size: 3.5rem;
    color: white;
    /* font-family: 'Sacramento'; */
}

.gallery-section p {
    color: white;
}


.unique-gallery-section {
    padding: 20px;
}

.unique-gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* Space between images */
}

.unique-gallery-item {
    flex: 1 1 auto;
    /* Allows items to grow and shrink */
    max-width: 100%;
    /* Ensures items don't overflow */
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
}

.unique-gallery-item img {
    height: 134px;
    /* Fixed height */
    width: auto;
    /* Width adjusts to maintain aspect ratio */
    object-fit: cover;
    /* Ensure image covers area */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adjustments for 2 images per row on mobile screens */
@media (max-width: 767.98px) {
    .unique-gallery-container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 images per row */
    }
}

/* Adjustments for single image per row on smaller screens */
@media (max-width: 479.98px) {
    .unique-gallery-container {
        grid-template-columns: 1fr;
        /* Single column layout on very small screens */
    }
}

/* ================================================== end gallery section ================================================== */


/* ================================================== closing section ================================================== */

.closing-section::before {
    content: '';
    background-image: url(../img/closing.jpeg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.closing-section {
    position: relative;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.closing-section::after {
    content: '';
    position: absolute;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 50%);
    z-index: -1;
}

.closing-section h1,
.closing-section h4,
.closing-section p {
    text-shadow: var(--shadow);
}

.closing-section h4 {
    font-size: 1.6rem;
}

.closing-section h1 {
    /* font-family: "Playwrite DK Uloopet", cursive;
    font-size: 2rem; */
    /* font-family: "Sacramento", cursive; */
    font-size: 4rem;
}

.closing-section p {
    font-size: 1.4rem;
}

.closing-section a {
    /* background-color: black; */
    color: var(--gold);
}

.closing-section a:hover {
    /* background-color: var(--gold); */
    color: black;
}


.closing-section .header-row-text {
    margin-bottom: 5rem;
}

.closing-section .spacer {
    min-height: 40rem;
}

.closing-section .guestPerson {
    margin-top: 10px;
    margin-bottom: 10px;
}



/* ================================================== end closing section ================================================== */



















/* ================================================== navbar component ================================================== */
.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);

}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-tittle {
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

/* ================================================== end navbar component ================================================== */


/* ================================================== info section ================================================== */
.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: .9rem;
    font-weight: 300;
}

/* ================================================== end info section ================================================== */

/* ================================================== story section ================================================== */
.story,
.gallery,
.rsvp,
.gifts,
.opening {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span,
.gallery span {
    text-transform: uppercase;
    color: #666;
    font-size: .9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1rem;
    font-weight: 300;
}

/* ###### time line component ####### */
.timeline {
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li::before,
.timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li.timeline-inverted,
.timeline li {
    position: relative;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    /* width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    right: -15px;
    top: 70px;
    transform: rotate(45deg);
    z-index: -1; */
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    top: 80px;
    right: -15px;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    top: 81px;
    right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
    width: 40%;
    float: right;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
}

.timeline li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto
}

/* ###### end timeline component ###### */
/* ================================================== end story section ================================================== */

/* ================================================== gallery section ================================================== */
.gallery {
    background-color: #ffd4e6;
}

/* ================================================== end gallery section ================================================== */

/* ================================================== footer section ================================================== */
footer {
    padding: 3rem;
    background-color: var(--pink);
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer li {
    list-style: none;
    display: inline;
    margin: .5rem;
}

/* ================================================== end footer section ================================================== */

/* ================================================== audio section ================================================== */
.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: .5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

/* ================================================== end audio section ================================================== */


/* ================================================== animation section ================================================== */
section.animated-section .container .row-animated {
    opacity: 0;
    transition: opacity 10s ease;
}

section.animated-section .container .row.hidden {
    opacity: 0;
    transition: opacity 10s ease;
}

section.animated-section .container .row.visible {
    opacity: 1;
}

/* ================================================== end animation section ================================================== */




/*=============================== media query ===============================*/
/* extra large */
@media (max-width:1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);

    }
}

/* laptop */
@media (max-width:992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 70px;
    }

    .home .heart {
        display: none
    }

    .timeline::before {
        left: 60px;
    }

    .timeline li .timeline-image,
    .timeline li.timeline-inverted .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
        /* margin-top: 16px; */
    }

    .timeline li .timeline-panel,
    .timeline li.timeline-inverted .timeline-panel {
        width: calc((100% - 200px));
        float: right;
        /*tambahan*/
        margin-bottom: 10px;
    }


    .timeline li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto
    }

    .timeline li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto
    }

}

/* tablet */
@media (max-width:768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 5px;
    }


    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }

    .sticky-top {
        overflow: hidden;
    }

    .timeline li .timeline-image {
        width: 140px;
        height: 140px;
    }
}

/* mobile */
@media (max-width:576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 30px;
        margin: 3px;
    }

    .timeline li .timeline-image {
        width: 80px;
        height: 80px;
    }

    .timeline li .timeline-panel,
    .timeline li.timeline-inverted .timeline-panel {
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 30px;
    }

    .timeline li .timeline-panel::after {
        top: 31px;
    }

    #my-form {
        margin-left: 10px;
        margin-right: 10px;
    }
}